/* Default Light Theme */
body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	color: #333;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
}

#bio {
    font-style: italic;
    margin-top: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #121212;
	color: #f5f5f5;
}
